<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- Menu de navegacion -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Links de navegacion -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/empleados}">Control de Empleados</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" th:href="@{/productos}">Control de Productos</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" th:href="@{/lotes}">Control de Lotes</a>
             </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Final de Menu de navegacion -->

    <!-- Contenido de la pagina Registro de Empleados-->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="text-center mb-0">Editar Datos de Productos</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/productos/{id}(id=${producto.id})}" th:object="${producto}" method="POST">
                            <div class="mb-3">
                                <label for="nombreProducto" class="form-label">Nombre del Producto</label>
                                <input type="text" id="nombreProducto" name="NombreProducto" th:field="*{NombreProducto}" class="form-control" placeholder="Ingrese el nombre del producto" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="categoria" class="form-label">Categoría</label>
                                <input type="text" id="categoria" name="Categoria" th:field="*{Categoria}" class="form-control" placeholder="Ingrese la categoría" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="precioVenta" class="form-label">Precio de Venta</label>
                                <input type="number" id="precioVenta" name="PrecioVenta" th:field="*{PrecioVenta}" class="form-control" placeholder="Ingrese el precio de venta" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="principioActivo" class="form-label">Principio Activo</label>
                                <input type="text" id="principioActivo" name="PrincipioActivo" th:field="*{PrincipioActivo}" class="form-control" placeholder="Ingrese el principio activo" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="presentacion" class="form-label">Presentación</label>
                                <input type="text" id="presentacion" name="Presentacion" th:field="*{Precentacion}" class="form-control" placeholder="Ingrese la presentación" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="laboratorio" class="form-label">Laboratorio</label>
                                <input type="text" id="laboratorio" name="Laboratorio" th:field="*{Laboratorio}" class="form-control" placeholder="Ingrese el laboratorio" required>
                            </div>
    
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- script de bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>