<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tu Farmacia</title>
  <!-- Estilos Web -->
  <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container login">
  <form th:action="@{/login}" method="post" name="facceso" id="facceso">
    <h1>¡Hola!</h1>
    <hr>
    <p>Ingresa tus datos</p>

    <div class="input-box">
      <label for="username">Usuario:</label>
      <input type="text" name="username" id="username" placeholder="Email" autocomplete="off" required/>
    </div>

    <div class="input-box">
      <label for="password">Contraseña:</label>
      <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="off" required/>
<!--      <a href="#">Restablecer contraseña</a>-->
    </div>
    <a href="#">Restablecer contraseña</a>
    <br>
    <small class="msg_error" th:if="${param.error}">
      Estimado Cliente, la clave ingresada no es la correcta. Pruebe de nuevo.
    </small>
    <br>
    <button class="btn-login" type="submit" value="login" name="btnLogin">Iniciar Sesión</button>
  </form>
  <a th:href="@{/nosotros}" class="btn-invitado">Modo Invitado</a>

  <div class="remember-forgot-r">
    <a th:href="@{/cliente/nuevo}">¿Aún no tienes una cuenta? Regístrate</a>
  </div>
</div>
</body>
</html>